<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title><%= title %></title>
      <%- include('../partials/header-dtable') %>
   </head>
   <body class="dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse" style="height: auto;">
      <div class="wrapper">
         <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
            <img class="animation__wobble" src="/assets/admin-lte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" style="display: none;">
         </div>
         <!-- nav -->
         <%- include('../partials/navbar') %>
         <!-- sidebar left -->
         <%- include('../partials/sidebarl') %>
       
         <%- body %>
         <!-- sidebar left -->
         <%- //include('../partials/sidebarr') %>
         <%- include('../partials/footer-dtable') %>

         <script src="/js/loginSystem/loginsystem.js" ></script>
         <script src="/js/loginSystem/setlsys.js"></script>
       
      </div>
   </body>
</html>