<div class="content-wrapper" style="min-height: 1135.77px">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"></h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title text-uppercase font-weight-bold">
                                Patron
                            </h3>
                        </div>
                        <div class="card-body">                           
                            <div class="container-fluid">
                                <div class="row">
                                   
                                    <div class="table-responsive">
                                        <table class="table table-default" id="example">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col" class="text-center">Name</th>
                                                    <th scope="col"  class="text-center">ID Number</th>
                                                    <th scope="col"  class="text-center">Group</th>
                                                    <th scope="col"  class="text-center">Description</th>
                                                    <th scope="col"  class="text-center">Action</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var datalen =  Object.keys(data).length %>
                                                <% if (datalen == 1) { %>
                                                    <tr class="text-center">
                                                        <td scope="row"><%= data[0].name %></td>
                                                        <td><%= data[0].IDnum %></td>
                                                        <td><%= data[0].User_Class %></td>
                                                        <td><%= data[0].Degree_Course %></td>
                                                        <td>
                                                            <div class="d-grid gap-5 col-6 mx-auto"  >
                                                                <button type="button" class="btn btn-danger"><i class="fa fas fa-trash-alt"></i></button>                                                                
                                                                <button type="button" class="btn btn-success"><i class="fa fas fa-edit"></i></button>
                                                              </div> 
                                                        </td>
                                                    </tr>
                                                <% } %>
                                                <% if (datalen > 1) { %>
                                                    <% for( let index = 0; index < datalen; index++ ) { %>
                                                        <tr class="text-center">
                                                            <td scope="row"><%= data[index].name %></td>
                                                            <td><%= data[index].IDnum %></td>
                                                            <td><%= data[index].User_Class %></td>
                                                            <td><%= data[index].Degree_Course %></td>
                                                            <td>
                                                                <div class="d-grid gap-5 col-6 mx-auto"  >
                                                                    <button type="button" class="btn btn-danger"><i class="fa fas fa-trash-alt"></i></button>                                                                
                                                                    <button type="button" class="btn btn-success"><i class="fa fas fa-edit"></i></button>
                                                                  </div> 
                                                            </td>
                                                        </tr>
                                                    <% } %>                                                 
                                                <% } %>

                                                
                                               
                                                
                                                
                                               
                                              
                                            </tbody>
                                        </table>

                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/patron/patron.js"></script>
